[submodule "RivalsOfAetherSync"]
	path = roasync
	url = https://github.com/ContentsMayBeHot/RivalsOfAetherSync
[submodule "learning/RivalsOfAetherSync"]
	path = learning/RivalsOfAetherSync
	url = https://github.com/ContentsMayBeHot/RivalsOfAetherSync
